.shapka {
	text-align: center; position: fixed; top: 20px;
}
.vsef {
    position: relative; top: -40px;
}
.fotki {

	}
.lupa {
	width: 50px; float: right; margin-right: 10px;
}
.bag {
	width: 50px; float: right;
}
.logo {
	width: 50px; float: left; margin-left: 10px;
}
.fotko {
	float: left;
}
.line {
    border-bottom: 1px solid black; margin-top: 30px;
   }

.tovar {
	display: flex;
	justify-content: space-between;
	position: relative; 
} 


.hudi {
	position: relative; 
	width: 10vw;
}
.hudi:hover{
	
	
} 

.tovar {
	display: flex;
}   
   
