.name {
	text-align: center;
}

.shapka-fluid {
	position: fixed;
}
.top {
	width: 2.5%; 
	position: relative;
	top: -50px;
}
.line {
    border-bottom: 1px solid black; margin-top: 0.1%;
   }
.top1 {
	float: right;
	width: 2.5%;
}
